<div class="books__container">
  <div class="books__filter">
    <mat-form-field>
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="binding">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Book binding </th>
      <td mat-cell *matCellDef="let element"> {{element.binding}} </td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let element"> <img class="books__image" [src]="element.image"/> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

